


<div class="container mt-5 mb-5 w-50">
  <form [formGroup]="couponsForm" (ngSubmit)="submit()">
  <div class="row justify-content-center">
    <mat-form-field appearance="outline">
      <mat-label>Coupon Code</mat-label>
      <input matInput formControlName="couponCode">
      <mat-error>Coupon Code is Required</mat-error>
    </mat-form-field>
  </div>
  <div class="row justify-content-center">
    <mat-form-field appearance="outline">

        <mat-label>Coupon Type</mat-label>
        <mat-select formControlName="couponType">
          <mat-option value="user">User</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
     </mat-form-field>
  </div>
    <div class="row justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input  [rangePicker]="picker">
          <input matStartDate placeholder="Start date" formControlName = "validFrom" (keypress)="numberOnly($event)">
          <input matEndDate placeholder="End date" formControlName = "validTo" (keypress)="numberOnly($event)">

        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error>Date range is Required</mat-error>
      </mat-form-field>
    </div>


  <div class="row">
    <mat-form-field appearance="outline">

      <mat-label>Coupon Status</mat-label>
      <mat-select formControlName = "couponStatus">
        <mat-option value="user">Active</mat-option>
        <mat-option value="other">Inactive</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">

    <div class="col-md-8">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Coupon Count</mat-label>
    <input formControlName = "couponCount" matInput  (keypress)="numberOnly($event)">
    <mat-hint>Fill coupon count. For ex. 8</mat-hint>
    <mat-error>Coupon Code is Required. Fill numeric values only.</mat-error>
  </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100" appearance="outline">

        <mat-label>Coupon Availability</mat-label>
        <mat-select formControlName = "couponAvailability" (ngModelChange)="availability()">
          <mat-option value="limited">Limited</mat-option>
          <mat-option value="unlimited">Unlimited</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</div>
  <div class="row">
    <h2>Terms and Conditions</h2>
    <mat-divider></mat-divider>
    <angular-editor [config] = "config" formControlName = "tnc"></angular-editor>

  </div>
  <div class="row mt-4">
    <h2>Coupon Rules</h2>
    <mat-divider></mat-divider>
  </div>



  <div class="row">
    <div formArrayName = "rulesGrid">
    <mat-card class="mt-2 p-2" *ngFor="let ruleGrid of rulesGridControls; let i=index;" formGroupName = {{i}}>
      <mat-card-header>
        <mat-card-title>Rule {{i+1}}</mat-card-title>

      </mat-card-header>

      <div class="row mt-2">
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Min Amount</mat-label>
            <input formControlName = "min_amount" matInput  (keypress)="numberOnly($event)">
            <mat-hint>Fill minimum amount. For ex. 10</mat-hint>
            <mat-error>Minimum Amount is required. Only numeric values</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Max Amount</mat-label>
            <input matInput formControlName = "max_amount" (keypress)="numberOnly($event)">
            <mat-hint>Fill maximum amount. For ex. 99</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Discount Type</mat-label>
            <mat-select formControlName = "discount_type">
              <mat-option value="user">Percentage</mat-option>
              <mat-option value="other">Amount</mat-option>
            </mat-select>
            <mat-error>Please select discount type. Only numeric values.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Discount</mat-label>
            <input matInput formControlName = "discount" (keypress)="numberOnly($event)">
            <mat-error>Please provide Discount value. Only numeric values</mat-error>
            <mat-hint>Fill discount. For ex. 15</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Max Discount Amount</mat-label>
            <input matInput formControlName = "max_discount" (keypress)="numberOnly($event)">

          </mat-form-field>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-1">
          <span class="remove" (click)="removeRule(i)"><i class="bi bi-trash-fill fa-2x"></i></span>
        </div>
      </div>

    </mat-card>
    </div>

  </div>
  <div class="row m-2">
    <div class="col-md-12 d-flex justify-content-center">
      <i class="add bi bi-plus-circle-fill fa-2x"  (click)="addRule()"></i>
    </div>


  </div>
    <p >(<span style="color: red">*</span>) Please fill all the required fields to save.</p>
    <button type="submit" [disabled]="couponsForm.invalid" mat-raised-button color="primary">Save</button>
</form>
</div>






